*{
    box-sizing: border-box;
}
body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: aqua;
}
.container{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 33vw;
    height: 45vh;
    background-color:coral;
    margin: 5% 1% 5% 1%;
  }
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: navy;
    height: 15vh;
  }
nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 4px;
    padding-left: 10px;
    color: white;
}
nav ul li a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
.botao-menu{
border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.botao-cadastrar{
    background-color: #008CBA;
}
.botao-entrar{
    background-color: #4CAF50;
}
.rodape{
    position: fixed;
    bottom: 0;
    height: 15%;
    width: 100%;
    background-color:grey;
    color: white;
 }
 .formulario{
     display: flex;
 }