* {
    box-sizing: border-box;
 }
 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0 5% 0 5%;
 }
 a{
    text-decoration: none;
 }

 .flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.container {
   min-height: 80vh;
   vertical-align: middle;
   justify-content: center;
	min-width: 90vw;
	margin: 0 auto;
   background-color: rgb(235, 228, 228);
   border-radius: 5px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
 }
.menu li {
    flex:3; 
 }
.botao-entrar {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  flex: 1;
}
.botao-cadastrar{
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  flex: 1;
}
.menu a:hover {
    background:rgba(10, 10, 182, 0.75);
 }
nav ul li a{
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgb(10, 10, 182);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
 }
 .card {
   display: inline-flex;
   margin-bottom: 20px;
   margin-right: 10px;
   max-width: 300px;
   position: relative;
   vertical-align: top;
   width: 100%;
   background-color: #f4f4f4;
 }
.rodape{
   position:fixed;
   bottom:0;
   width:90%;
   height: 10vh;
   background-color: rgb(10, 10, 182);    
   color: white; 
}
.rodape ul li{
   list-style-type:none;
   display: inline;
   text-decoration: none; 
}
.rodape a{
   color: white;
   margin: 2% 2% 10% 2%;
}
.formulario {
   
   list-style-type:none;
}
.formulario li{
   margin-bottom: 5%;
}
.formulario li label{
  padding: 8px;
  letter-spacing: .09em;
  text-transform: uppercase;
}
.formulario li button {
   
   padding: 8px 16px;
   border: none;
   background: #333;
   color: #f2f2f2;
   text-transform: uppercase;
   border-radius: 2px;
 }

