* {
    box-sizing: border-box;
 }
 
 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0 5% 0 5%;
 }
 .flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
 }
.menu li {
    flex:3; 
 }
.botao-entrar {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  flex: 1;
}
.botao-cadastrar{
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  flex: 1;
}
a:hover {
    background:rgba(10, 10, 182, 0.75);
 }
a {
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgb(10, 10, 182);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
 }
 .card {
   display: inline-flex;
   margin-bottom: 20px;
   margin-right: 10px;
   max-width: 300px;
   position: relative;
   vertical-align: top;
   width: 100%;
 }
.rodape{
      position:fixed;
      bottom:0;
      width:90%;
      height: 5%;
      background-color: rgb(10, 10, 182);
}
.rodape 