* {
    /* box-sizing: border-box;*/
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: whitesmoke;
}

header {
    padding-top: 10px;
}


/**/

.container1 {
    width: 100%;
    height: 45vh;
    display: flex;
    /*flex-wrap: wrap;*/
}

.cardPricipal {
    width: 30vw;
    height: 15vh;
    background-color: coral;
    margin: 1% 1% 10% 1%;
    margin-left: 1px;
    flex-grow: 2;
    border-bottom: 2px solid black;
    margin-top: 5px;
}

.cardA {
    width: 40%;
    height: 40vh;
    background-color: coral;
    margin-left: 1px;
    padding-left: 1px;
    flex-grow: 1;
    margin-top: 5px;
}

.cardB {
    width: 40%;
    height: 40vh;
    background-color: coral;
    margin-left: 1px;
    padding-left: 1px;
    margin-top: 10px;
    flex-grow: 1;
    align-items: center;
}

.CAB {
    width: 30vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


/**/

.container2 {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/*
.card {
    width: 10vw;
    height: 30vh;
    background-color: coral;
    padding-top: 2px;
    margin-top: 2px;
    justify-content: space-between;
}

*/

.Bloco2 {
    display: flex;
    padding-top: 20px;
    margin: 0px;
    width: 90vw;
}

p {
    text-indent: 5px;
    margin-top: 2px;
    /*white-space: nowrap;*/
}

h4 {
    text-indent: 5px;
    margin-top: 1px;
    margin-left: 0px;
    white-space: nowrap;
}

nav {
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: navy;
    height: 15vh;
    border-radius: 0px 0px 10px 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-right: 4px;
    padding-left: 10px;
    color: white;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

.botao-menu {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.botao-cadastrar {
    background-color: #008CBA;
    border-radius: 10px;
}

.botao-entrar {
    background-color: #4CAF50;
    border-radius: 10px;
}

.formulario {
    display: flex;
}

.botao {
    text-align: right;
}


/*....*/

.footer {
    background-color: rgb(39, 21, 141);
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 2px;
    page-break-after: auto;
    height: 10%;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

.l1 {
    display: flex;
    margin-bottom: 5px;
}


/**/

.titulo1 {
    padding-top: 50px;
    margin: 5px;
}

.cardc {
    justify-content: space-between;
    width: 30vw;
    padding: 10px;
}


/**/

.rodape {
    display: flex;
    padding: 10px;
    margin-bottom: 1px;
    padding-top: 3px;
    height: 30px;
    ;
}

.rodape1 {
    list-style-type: none;
    font-weight: bolder;
    font-size: 12px;
    margin-bottom: 1px;
    margin-top: 0px;
    text-align: center;
    /**/
    justify-content: space-between;
    padding: 10px;
}

.linksRodape {
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-align: right;
    color: inherit;
    margin-bottom: 0px;
    margin-right: 2px;
}

.logoRodape {
    border-radius: 50%;
    width: 70px;
    height: 59px;
    padding-top: 0px;
    margin-top: 2px;
    margin-left: 2px;
}


/*....*/